.home-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 40px;
	left :40px;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background-color: rgb(5, 161, 161);
	box-shadow: 0 0 10px 1px rgba(0, 102, 255, 0.753);
}