.home {
	padding: 10vh 0vh;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90vh;
	min-height: 600px;
}

.leaf {
	width: 130px;
	height: auto;
}

.heading {
	margin: 0px 50px;
	text-align: center;
	font-size: 60px;
	font-family: "Rampart One", cursive;
}

/* .sub-heading {
	font-size: 20px;
} */


.sp-content {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 25%;
	z-index: 1000;
}
.sp-container h2 {
	position: absolute;
	top: 50%;
	line-height: 100px;
	height: 90px;
	margin-top: -50px;
	font-size: 25px;
	width: 100%;
	text-align: center;
	color: transparent;
	-webkit-animation: blurFadeInOut 0.1s ease-in backwards;
	-moz-animation: blurFadeInOut 0.1s ease-in backwards;
	-ms-animation: blurFadeInOut 0.1s ease-in backwards;
	animation: blurFadeInOut 0.1s ease-in backwards;
}

.sp-container h2.frame-5 {
	-webkit-animation: none;
	-moz-animation: none;
	-ms-animation: none;
	animation: none;
	color: transparent;
	text-shadow: 0px 0px 1px #fff;
}
.sp-container h2.frame-5 span {
	-webkit-animation: blurFadeIn 3s ease-in 0.1s backwards;
	-moz-animation: blurFadeIn 1s ease-in 0.1s backwards;
	-ms-animation: blurFadeIn 3s ease-in 0.1s backwards;
	animation: blurFadeIn 3s ease-in 0.1s backwards;
	color: transparent;
	text-shadow: 0px 0px 1px #fff;
}
.sp-container h2.frame-5 span:nth-child(2) {
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.sp-container h2.frame-5 span:nth-child(3) {
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@keyframes blurFadeInOut {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1.3);
	}
	20%, 75% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		transform: scale(0);
	}
}
@keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1.3);
	}
	50% {
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
}
@keyframes fadeInBack {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	50% {
		opacity: 0.4;
		transform: scale(2);
	}
	100% {
		opacity: 0.2;
		transform: scale(5);
	}
}
@keyframes fadeInRotate {
	0% {
		opacity: 0;
		transform: scale(0) rotate(360deg);
	}
	100% {
		opacity: 1;
		transform: scale(1) rotate(0deg);
	}
}

.solana-logo {
	width: 400px;
}

/* adding responsiveness  */

@media screen and (max-width: 1025px) {
	.leaf {
		width: 100px;
	}

	.heading {
		margin: 0px 10px;
	}
}

@media screen and (max-width: 769px) {
	.leaf {
		width: 80px;
	}

	.heading {
		margin: 0px 10px;
		font-size: 35px;
	}

	.solana-logo {
		width: 200px;
	}
}

@media screen and (max-width: 400px) {
	.leaf {
		display: none;
	}
}
