.explorer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	min-height: 600px;
	padding: 5vh 0vw;
	margin-bottom: 20vh;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	box-shadow: inset 120px 0px rgba(0, 0, 0, 0.363),
		inset 80px 0px rgba(0, 0, 0, 0.363), 
		inset 50px 0px rgba(0, 0, 0, 0.358),
		inset -120px 0px rgba(0, 0, 0, 0.363),
		inset -80px 0px rgba(0, 0, 0, 0.363),
		inset -50px 0px rgba(0, 0, 0, 0.358),
		inset 0px 12px 10px rgba(0, 0, 0, 0.458),
		inset 0px -12px 10px rgba(0, 0, 0, 0.458);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.explorer p {
	display: inline;
}

#temp,
.recieved {
	font-size: 20px;
	margin-top: 30px;
	color: black;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

#temp {
	margin-top: 60px;
	font-weight: bold;
}

.recieved p {
	font-weight: bold;
}

.formatted {
	text-align: left;
	white-space: pre-line;
}

input {
	background-color: rgba(0, 0, 0, 0.795);
	color: white;
	border: none;
	padding: 10px 15px;
	margin: 10px;
	border-radius: 10px;
	font-size: 18px;
	box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.425);
}

.cert-pdf {
	height: 300px;
	width: 400px;
}

@media screen and (max-width: 860px) {
	.recieved {
		flex-direction: column;
	}

	.cert-pdf {
		margin-top: 50px;
	}
}

@media screen and (max-width: 500px) {
	.cert-pdf {
		height: auto;
		width: 80%;
	}

	#temp,
	.recieved {
		font-size: 16px;
	}

	input {
		font-size: 14px;
		margin: 1px;
	}
}
