.certificate-container {
	margin-top: 100px;
	padding: 50px 0px;
	display: flex;
	flex-grow: 1;
	box-shadow: inset 0px 12px 10px rgba(0, 0, 0, 0.458),
		inset 0px -12px 10px rgba(0, 0, 0, 0.458);
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00FFA3", endColorstr="#DC1FFF", GradientType=1 );
}

.form-container {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.form {
	width: 40%;
}

#form {
	background-color: rgba(240, 248, 255, 0.432);
	box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);
	margin: 40px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 450px;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	#form {
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
	}
}

input {
	background-color: rgba(0, 0, 0, 0.795);
	color: white;
	border: none;
	width: 250px;
	padding: 10px 15px;
	margin: 10px;
	border-radius: 10px;
	font-size: 18px;
}

.download {
	display: flex;
	width: 60vw;
	justify-content: center;
	align-items: center;
}

.cert-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

#downloadWrapper {
	width: max-content;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	height: fit-content;
	justify-content: center;
	align-items: center;
	position: relative;
}

#certificateWrapper {
	border-radius: 5px;
	overflow: hidden;
}

#certificateWrapper img#cert-new {
	box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);
	width: 600px;
	height: auto;
}

#certificateWrapper p {
	color: #000;
	position: absolute;
	margin: 0;
	text-align: left;
	align-items: center;
	font-size: 18px;
}

#certificateWrapper #husband {
	left: 17%;
	top: 30%;
}

#certificateWrapper #wife {
	left: 17%;
	top: 47%;
}
#certificateWrapper #date {
	left: 26%;
	top: 79%;
}

.sub-text {
	color: #000;
	font-weight: bold;
}

@media screen and (max-width: 1025px) {
	.certificate-container {
		flex-direction: column;
	}

	.form {
		width: 100%;
	}

	#downloadWrapper {
		width: auto;
	}

	.download {
		width: 100vw;
	}
}

@media screen and (max-width: 650px) {
	#form {
		margin: 30px;
	}

	#certificateWrapper img#cert-new {
		width: 350px;
		height: auto;
	}

	#certificateWrapper p {
		font-size: 13px;
	}

	#certificateWrapper #husband {
		left: 17%;
		top: 27%;
	}

	#certificateWrapper #wife {
		left: 17%;
		top: 44%;
	}
	#certificateWrapper #date {
		left: 26%;
		top: 77%;
		font-size: 11px;
	}
}

@media screen and (max-width: 450px) {
	input {
		width: 200px;
		padding: 8px 13px;
		margin: 8px;
		border-radius: 6px;
		font-size: 15px;
	}

	#form {
		margin: 20px;
		height: 400px;
	}

	#certificateWrapper img#cert-image {
		width: 280px;
		height: auto;
	}

	#certificateWrapper p {
		font-size: 11px;
	}

	#certificateWrapper #husband {
		left: 17%;
		top: 26%;
	}

	#certificateWrapper #wife {
		left: 17%;
		top: 43%;
	}
	#certificateWrapper #date {
		left: 26%;
		top: 76%;
		font-size: 9px;
	}
}
