.btn {
	position: relative;
	border: none;
	padding: 10px 15px;
	margin: 10px;
	/* border-radius: 10px; */
	font-size: 18px;
    cursor: pointer;
	overflow: hidden;
	transition: 0.2s;
}

.dark {
    background-color: rgb(34, 34, 34);
    color: white;
    /* box-shadow: 0 0 10px 1px rgb(0, 114, 143); */
}

.dark:hover {
    transition: 0.1s all;
    /* box-shadow: 0 0 15px 1px rgb(0, 114, 143); */
}

.light {
    background-color: rgb(0, 193, 219);
    color: rgba(0, 0, 0, 0.925);
    /* box-shadow: 0 0 10px 1px rgba(45, 213, 255, 0.719); */
}

.light:hover {
    transition: 0.1s all;
    /* box-shadow: 0 0 15px 1px rgba(45, 213, 255, 0.719); */
}

/* .btn {
    display: inline-block;
	padding: 8px 15px;
    color: #000;
	letter-spacing: 3px;
	text-decoration: none;
	font-size: 24px;
	background-color: transparent;
} */

.btn span{
	position: absolute;
	display: block;
}

.btn span:nth-child(1){
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,transparent,#DC1FFF)
}
.btn:hover span:nth-child(1){
	left: 100%;
	transition: 1s;
}

.btn span:nth-child(3){
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg,transparent,#DC1FFF)
}
.btn:hover span:nth-child(3){
	right: 100%;
	transition: 1s;
	transition-delay:0.05s;
}
